@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer theme;

@theme {
  --font-outfit: 'Outfit', sans-serif;
}


body {
  font-family: var(--font-outfit);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 350;
}
