@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Teachers', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}